.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
.m2{transform:matrix(0.227500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.227500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.227500,0.000000,0.000000,0.250000,0,0);}
.m1{transform:matrix(0.247500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.247500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.247500,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.176000px;}
._0{width:4.064000px;}
._3{width:6.968000px;}
._4{width:8.268000px;}
._5{width:28.028000px;}
._2{width:29.484000px;}
.fc3{color:rgb(0,0,0);}
.fc2{color:rgb(2,87,115);}
.fc1{color:rgb(0,0,196);}
.fc0{color:rgb(51,51,51);}
.fs2{font-size:30.000000px;}
.fs0{font-size:32.000000px;}
.fs3{font-size:48.000000px;}
.fs5{font-size:52.000000px;}
.fs4{font-size:56.000000px;}
.fs1{font-size:96.000000px;}
.y0{bottom:0.000000px;}
.y2{bottom:1.730000px;}
.y6{bottom:1.800000px;}
.y9{bottom:6.445002px;}
.y28{bottom:314.446013px;}
.y27{bottom:362.527017px;}
.y26{bottom:407.374037px;}
.y25{bottom:422.323037px;}
.y24{bottom:452.221022px;}
.y23{bottom:467.170022px;}
.y22{bottom:482.119027px;}
.y21{bottom:497.068032px;}
.y20{bottom:512.017022px;}
.y1f{bottom:526.966022px;}
.y1e{bottom:541.915022px;}
.y1d{bottom:556.864022px;}
.y1c{bottom:586.762025px;}
.y1b{bottom:618.026023px;}
.y1a{bottom:634.125030px;}
.y19{bottom:650.224025px;}
.y18{bottom:679.690026px;}
.yd{bottom:718.250025px;}
.y17{bottom:719.794027px;}
.yc{bottom:728.900024px;}
.y16{bottom:730.564028px;}
.yb{bottom:738.900024px;}
.y15{bottom:740.563028px;}
.ya{bottom:748.900024px;}
.y14{bottom:750.562025px;}
.y8{bottom:758.900024px;}
.y13{bottom:760.561026px;}
.y7{bottom:769.900024px;}
.y12{bottom:770.760023px;}
.y5{bottom:779.900024px;}
.y11{bottom:780.759024px;}
.y4{bottom:788.900024px;}
.y10{bottom:790.758024px;}
.y3{bottom:798.900024px;}
.yf{bottom:801.249024px;}
.y1{bottom:808.900024px;}
.ye{bottom:811.431025px;}
.h4{height:9.000000px;}
.h2{height:10.000000px;}
.h7{height:10.650000px;}
.h8{height:20.332031px;}
.h3{height:21.687500px;}
.h5{height:30.000000px;}
.h9{height:33.328125px;}
.hc{height:36.105469px;}
.hb{height:37.953125px;}
.ha{height:38.882812px;}
.h6{height:63.984375px;}
.h0{height:841.900024px;}
.h1{height:842.000000px;}
.w2{width:92.000000px;}
.w3{width:94.000000px;}
.w1{width:196.000000px;}
.w0{width:595.000000px;}
.x0{left:0.000000px;}
.x3{left:30.000000px;}
.x1{left:60.000000px;}
.x2{left:256.000000px;}
.xd{left:384.000000px;}
.x5{left:437.110001px;}
.xc{left:447.400002px;}
.x7{left:481.008003px;}
.x8{left:487.402000px;}
.x4{left:490.012001px;}
.x9{left:491.601997px;}
.xb{left:495.125000px;}
.x6{left:506.746002px;}
.xa{left:535.984001px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.568000pt;}
._0{width:5.418667pt;}
._3{width:9.290667pt;}
._4{width:11.024000pt;}
._5{width:37.370667pt;}
._2{width:39.312000pt;}
.fs2{font-size:40.000000pt;}
.fs0{font-size:42.666667pt;}
.fs3{font-size:64.000000pt;}
.fs5{font-size:69.333333pt;}
.fs4{font-size:74.666667pt;}
.fs1{font-size:128.000000pt;}
.y0{bottom:0.000000pt;}
.y2{bottom:2.306667pt;}
.y6{bottom:2.400000pt;}
.y9{bottom:8.593335pt;}
.y28{bottom:419.261351pt;}
.y27{bottom:483.369356pt;}
.y26{bottom:543.165382pt;}
.y25{bottom:563.097383pt;}
.y24{bottom:602.961362pt;}
.y23{bottom:622.893363pt;}
.y22{bottom:642.825370pt;}
.y21{bottom:662.757376pt;}
.y20{bottom:682.689363pt;}
.y1f{bottom:702.621363pt;}
.y1e{bottom:722.553363pt;}
.y1d{bottom:742.485363pt;}
.y1c{bottom:782.349367pt;}
.y1b{bottom:824.034697pt;}
.y1a{bottom:845.500039pt;}
.y19{bottom:866.965366pt;}
.y18{bottom:906.253368pt;}
.yd{bottom:957.666700pt;}
.y17{bottom:959.725370pt;}
.yc{bottom:971.866699pt;}
.y16{bottom:974.085370pt;}
.yb{bottom:985.200033pt;}
.y15{bottom:987.417371pt;}
.ya{bottom:998.533366pt;}
.y14{bottom:1000.749367pt;}
.y8{bottom:1011.866699pt;}
.y13{bottom:1014.081367pt;}
.y7{bottom:1026.533366pt;}
.y12{bottom:1027.680031pt;}
.y5{bottom:1039.866699pt;}
.y11{bottom:1041.012032pt;}
.y4{bottom:1051.866699pt;}
.y10{bottom:1054.344032pt;}
.y3{bottom:1065.200033pt;}
.yf{bottom:1068.332033pt;}
.y1{bottom:1078.533366pt;}
.ye{bottom:1081.908033pt;}
.h4{height:12.000000pt;}
.h2{height:13.333333pt;}
.h7{height:14.199999pt;}
.h8{height:27.109375pt;}
.h3{height:28.916667pt;}
.h5{height:40.000000pt;}
.h9{height:44.437500pt;}
.hc{height:48.140625pt;}
.hb{height:50.604167pt;}
.ha{height:51.843750pt;}
.h6{height:85.312500pt;}
.h0{height:1122.533366pt;}
.h1{height:1122.666667pt;}
.w2{width:122.666667pt;}
.w3{width:125.333333pt;}
.w1{width:261.333333pt;}
.w0{width:793.333333pt;}
.x0{left:0.000000pt;}
.x3{left:40.000000pt;}
.x1{left:80.000000pt;}
.x2{left:341.333333pt;}
.xd{left:512.000000pt;}
.x5{left:582.813334pt;}
.xc{left:596.533335pt;}
.x7{left:641.344004pt;}
.x8{left:649.869334pt;}
.x4{left:653.349335pt;}
.x9{left:655.469330pt;}
.xb{left:660.166667pt;}
.x6{left:675.661336pt;}
.xa{left:714.645335pt;}
}
